<h1>New Blog Post</h1>

<%= form_with model: @blog_post do |f| %>
  <% if f.object.errors.any? %>
  <div>
    <% f.object.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.button %>
<% end %>
